<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GardenPreserver</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='pictures/logo.png') }}" alt="Logo">
            <span>GardenPreserver</span>
        </div>
        <nav>
            <a href="#usage">Usage</a>
            <a href="#motivation">Motivation</a>
            <a href="#advantages">Advantages</a>
            <a href="#search">Search</a>
            <a href="{{ url_for('questions') }}">Questions</a>
        </nav>
    </header>
    
    <div class="container">
        <section id="usage">
            <h1 class="section-title">Usage</h1>
            <div class="section-content">
                < <img src="{{ url_for('static', filename='pictures/green.png') }}" alt="usage"  class="image">>
                <p>GardenPreserver is a website designed for plant lovers with a penchant for taking care of their gardens. Whether you have a green thumb or are just starting out, we provide the resources and tools you need to keep your plants healthy and thriving.</p>
            </div>
        </section>

        <section id="advantages">
            <h1 class="section-title">Advantages</h1>
            <div class="section-content advantages">
                <div class="advantage-item">Easy Searching Function</div>
                <div class="advantage-item">AI Model for Flower-Related Questions</div>
                <div class="advantage-item">Comprehensive Database</div>
            </div>
        </section>

        <section id="motivation">
            <h1 class="section-title">Motivation</h1>
            <div class="section-content">
                <img src="{{ url_for('static', filename='pictures/red.png') }}" alt="motivation"  class="image">
                <p>We decided to create GardenPreserver because we wanted to take care of flowers properly. Both have experience with plants dying due to improper care so we thought others like us will benefit from an app that tells you exactly what to do.</p>
            </div>
        </section>

        <section id="search">
            <div class="form-container">
                <h2 class="form-title">Search for a Flower</h2>
                <form method="post">
                    <label for="flower_name">Enter the name of a flower:</label>
                    <input type="text" id="flower_name" name="flower_name" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </section>
    </div>

    <footer>
        &copy; 2024 GardenPreserver. All rights reserved.
    </footer>
</body>
</html>
