<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/questions.css') }}">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <h1 class="chat-title">Flower Chatbot</h1>
            <form method="post" class="question-form">
                <label for="question">Ask a question about flowers:</label>
                <input type="text" id="question" name="question" required>
                <button type="submit">Ask</button>
                <a href="/" class="back-link">Go back</a>
            </form>
            {% if response %}
            <div class="chat-response">
                <h2>Response:</h2>
                <p>{{ response }}</p>
            </div>
            {% endif %}
        </div>
        <div class="image-container">
            <img src="https://minedusci-my.sharepoint.com/personal/dp98542983_edu_mon_bg/Documents/%D0%A4%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B5%20%D0%B7%D0%B0%20%D1%87%D0%B0%D1%82%D0%B0%20%D0%BD%D0%B0%20Microsoft%20Teams/Sprout-amico.png" alt="Flower Image" class="profile-image">
        </div>
    </div>
</body>
</html>
